/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* html, body {
  overflow: auto;
}
body {
  min-height: 100%;
} */
/* html, body{min-height:100%;} */
body{height:100vh;}

#button1 {
  grid-area: button;
  width: 110px;
  display: inline-block;
  margin-top: 5px ;
  /* margin-right: 10px; */
  padding: 15px 25px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:teal;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
  -webkit-tap-highlight-color: transparent;
}

/* #button1:hover {background-color:rgb(5, 194, 194)} */

  #button1:active {
    background-color:rgb(6, 173, 173);
    box-shadow: 0 5px #666;
    /* transform: translateY(4px); */
  }

#button1:focus{outline: none !important;}




.Heading{
  font-family:'Courier New', Courier, monospace;
  font-size: small;
  text-align: left;
  grid-area: Heading;
  
}

.NavButtons{
  /* display: inline; */
  margin-top: 2.5%;
  grid-area: NavButtons;
}

#root{
  height: 100%;
  width: 100%;
}

.NavBar{
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  
  display:grid; 
  grid-template-areas: 
  'Heading NavButtons';
  grid-template-columns: 70% 30%;
  /* gri */
  background-color:lightgrey;
  height:100%;
  /* position: sticky; */
  width: 100%;
  /* margin-bottom: 200px; */
  border-bottom :solid;
  border-color: darkgrey;
  
}


.Page{
  display:grid;
  grid-template-areas:
  'Navbar'
  'Bodydiv';
  grid-template-rows: 10% 95%;
  height: 100%;
  
  /* grid-gap:10px ; */
  
}



.SideBar{
 
  grid-area: SideBar;

  height:100%;
  width:100%;
  background-color: whitesmoke;
}

.Home{
  z-index: -1;
  display: grid;
  grid-template-areas:
  'SideBar Posts Chat';
  grid-template-columns: 20% 55% 25%;
  width: 100%;

  grid-gap: 10px;

  /* margin-top: 60px;   */

}
.Addpost{
  z-index: -1;
  display: grid;
  grid-template-areas:
  'SideBar ImageUpload Chat';
  grid-template-columns: 20% 55% 25%;
  width: 100%;
  height:100%;

  grid-gap: 10px;
}
.Posts{
  grid-area: Posts;
}
.Chat{
  grid-area: Chat;
  position: sticky;
}

.FriendsBar{
  /* position: fixed; */
  /* margin-left: 20px; */
}

.root{
    overflow-y: scroll;
}
#listpost{
  list-style-type:none;
  padding-left: 0px;
  /* padding-right: 4px; */

}
/* #view2{
  display: none;
} */


/* Media screen size */
@media screen and (max-width: 768px) {
 
  .Addpost{
    
    display: grid;
    grid-template-areas:
    'ImageUpload';
    grid-template-columns: 100%;
    width: 100%;
    height:100%;
  
    grid-gap: 10px;
  }
  .Home{
    display: grid;
    grid-template-areas:
    'Posts';
    grid-template-columns: 100%;
  }
  .FriendsBar{
    display:none;
  }
  /* .Chat{
    display: none;
  } */
  #listpost{
    list-style-type:none;
    padding-left: 2%;
    padding-right: 4%;
    width: 100%;
  
  }
  .Bodydiv{
    height: 100%;
  }

  #view2{
    /* display:inline; */
    margin-top: 15%;
  }
  


}

@media screen and (max-width: 1450px){
  #view1{
    display: none;
  }
 
  #button1.DropMenu:active{
    background-color: teal !important;
    /* border: transparent; */
  }
  #view2{
    /* display:inline; */
    margin-top: 5%;
    position: relative;
    display: inline-block;
    z-index: 100;
  }
  #menulist{
    list-style: none;
    padding: 0%;
    margin:0%;
  }
  
  /* .NavBar{
    padding-right: 20%;
  } */
}
@media screen and (min-width: 1450px){
  #view2{
    display: none;
  }
}