
.MessageBuffer{
    position:fixed;
    top:740px;
    border:solid;
    width: 18.3%;
    padding-bottom: 2px;
    height:6%;
    padding-top: -15px;
    background-color: white;
}

.Chat{
    background-color: turquoise;
    height:100%;
    width:18.5%;
    position: fixed;
    left:1230px;
    border:solid;
}

#input{
    width: 231px;
    height: 90%;
    word-wrap: normal;
    border: transparent;
    /* margin-top: -3px; */
}

#input:focus{outline:0;}

#chatButton{
    width: 40px;
    height: 100%;
    background-color: transparent;
    border-width: 0px;
    padding-left: 0px;

    /* margin-top: -px; */
}

#chatButton:focus{outline:0;}